<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="goodsForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;{{modalTitle}}&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label">投诉类型：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="complaintType" class="form-control" ng-model="vm.complaint.complaintType.name" ng-disabled="true" >
                        </div>

                    </div>
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label">投诉内容：</label>
                        <div class="col-sm-8 input-width">
                            <textarea type="text" name="detail" class="form-control" ng-model="vm.complaint.detail"  ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label">处理结果：</label>
                        <div class="col-sm-8 input-width">
                            <textarea type="text" name="resloveInfo" class="form-control" ng-model="vm.complaint.resloveInfo"  required/>
                        </div>
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="submit" ng-click="submit(vm.complaint)" class="btn btn-primary" ng-show="isModify"  data-dismiss="modal">处理</button>
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>