

<div class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 380px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">&nbsp;报修单&nbsp;</h4>
            </div>

            <div class="modal-body" >

                    <div  id="div_print" class="print-brand print_container">
                        <div class="section3">
                            <h4>
                                订单编号:{{vm.mend.mendSn}}&nbsp;&nbsp;报修时间:{{vm.mend.createTime}}
                            </h4>

                            <br>
                        </div>
                        <div class="section4">
                            <div style="border: 1px solid #DADADA;">
                                <table style="width: 100%;">
                                    <tbody>
                                    <tr>
                                        <td width="50%">客户:{{vm.mend.recvName}}</td>
                                        <td width="50%">电话:{{vm.mend.recvPhone}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">处理人:{{vm.mend.dealedUser.name}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">客户地址:{{vm.mend.recvAddr.province}}{{vm.mend.recvAddr.city}}
                                            {{vm.mend.recvAddr.county}}{{vm.mend.recvAddr.detail}}</td>
                                    </tr>

                                    <tr>
                                        <td>{{vm.mend.mendType.name}}</td>
                                        <td colspan="2">{{vm.mend.detail}}</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">处理结果:</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">处理方法:</td>
                                    </tr>

                                    <tr>
                                        <td >维修人签名:</td>
                                        <td colspan="2">客户签名:</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">
                                            <label>请检查处理人的工作:</label>
                                            <input class="input-md" type="checkbox">

                                            <label>穿戴工作服、证</label>
                                            <input class="input-md" type="checkbox">

                                            <label>核对钢瓶号</label>

                                            <input class="input-md" type="checkbox">

                                            <label>已关闭钢瓶角阀</label>

                                            <input class="input-md" type="checkbox">

                                            <label>检漏、试火</label>

                                            <label>完成时间:</label>

                                            <input class="input-md" style="border: none;border-bottom:1px solid;">


                                            <!--<ul>-->
                                                <!--<li>请检查处理人的工作:</li>-->
                                                <!--<li>-->
                                                    <!--<input class="input-md" type="checkbox">-->
                                                <!--</li>-->
                                                <!--<li>穿戴工作服、证</li>-->
                                                <!--<li>-->
                                                    <!--<input class="input-md" type="checkbox">-->
                                                <!--</li>-->
                                                <!--<li>核对钢瓶号</li>-->
                                                <!--<li>-->
                                                <!--<input class="input-md" type="checkbox">-->
                                                <!--</li>-->
                                                <!--<li>已关闭钢瓶角阀</li>-->
                                                <!--<li>-->
                                                    <!--<input class="input-md" type="checkbox">-->
                                                <!--</li>-->
                                                <!--<li>检漏、试火</li>-->
                                                <!--<li>&nbsp</li>-->
                                                <!--<li>完成时间:</li>-->
                                                <!--<li>-->
                                                    <!--<input class="input-md" style="border: none;border-bottom:1px solid;">-->
                                                <!--</li>-->
                                            <!--</ul>-->

                                        </td>
                                    </tr>

                                    <tr>
                                        <td >开单人:{{vm.curUser.userId}}
                                            <!--<ul>-->
                                                <!--<li>开单人:</li>-->
                                                <!--<li>{{vm.curUser.userId}}</li>-->
                                            <!--</ul>-->
                                        </td>
                                        <td colspan="2">门店:{{vm.curUser.department.name}}
                                            <!--<ul>-->
                                                <!--<li>门店:</li>-->
                                                <!--<li>{{vm.curUser.department.name}}</li>-->
                                            <!--</ul>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">备注：尊敬的用户，请您注意用气安全！</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>


            </div>

            <div class="modal-footer">
                <button type="submit" ng-click="doPrint()" class="btn  btn-primary" data-dismiss="modal"><i class="fa fa-print"></i>打印</button>
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
