<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="cloudUserForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                            aria-hidden="true">&times;</button> <h4 class="modal-title">&nbsp;{{modalTitle}}&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label-large">云客服账号：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="userId" class="form-control" ng-model="vm.cloudUser.userId"  ng-disabled="isModify" required>
                        </div>
                        <label class="input-tips" ng-show="cloudUserForm.userId.$error.required || cloudUserForm.userId.$invalid">&nbsp;*&nbsp;必填项</label>
                    </div>
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label-large">云客服密码：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="password" class="form-control" ng-model="vm.cloudUser.password" required>
                        </div>
                    </div>
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label-large">备注：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="note" class="form-control" ng-model="vm.cloudUser.note" required>
                        </div>
                    </div>
                    <div class="input-group pdb15" ng-if="isModify">
                        <label class="col-sm-4 control-label input-label-large">绑定用户：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="panvaUserId" class="form-control" ng-model="vm.cloudUser.panvaUser.userId"  required>
                        </div>
                        <button ng-if="isBinded" type="button" class="btn btn-sm btn-danger" ng-click="unBind()"><i class="fa fa-plus"></i> 解绑 </button>
                        <button ng-if="!isBinded" type="button" class="btn btn-sm btn-success" ng-click="bind()"><i class="fa fa-plus"></i> 绑定 </button>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="submit" ng-click="submit(vm.cloudUser);" class="btn btn-primary" data-dismiss="modal">保存</button>
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>