<!DOCTYPE html>
<html ng-app="LoginApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../lib/font-awesome-4.6.3/css/font-awesome.min.css">
    <link href="../styles/stylesheets/login.css" rel="stylesheet">
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular/angular-ui-router.min.js"></script>
    <script src="../lib/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/common/commonFilter.js"></script>
    <script src="../scripts/common/config.js"></script>
    <script src="../scripts/common/constant.js"></script>
    <script src="../scripts/common/httpInterceptor.js"></script>
    <script src="../scripts/common/pagerService.js"></script>
    <script src="../scripts/common/njModal.js"></script>
    <script src="../scripts/common/njPager.js"></script>
    <script src="../scripts/common/njPartials.js"></script>
    <script src="../scripts/common/component.js"></script>

    <script src="../scripts/sys/login/loginApp.js"></script>
    <script src="../scripts/sys/login/loginCtrl.js"></script>
</head>
<body>

<div class="main" ng-controller="LoginCtrl">
    <div class="container">
        <center>

            <div class="middle">
                <div id="login">
                    <form name="userForm"　novalidate>

                        <fieldset class="clearfix">

                            <p><span class="fa fa-user"></span><input type="text" name="userId" Placeholder="Username" ng-model="userInfo.userId" required></p>
                            <p><span class="fa fa-lock"></span><input type="password" name="password" Placeholder="Password" ng-keyup="myKeyup($event)" ng-model="userInfo.password" required></p>
                            <!-- JS because of IE support; better: placeholder="Password" -->
                            <div class="input-tips">
                                    <span ng-show="userForm.userId.$error.required || userForm.password.$error.required">
                                        <span class="star">&nbsp;*&nbsp;</span>必填项，请输入有效的CORP邮箱信息</span>
                            </div>
                            <div>
                                <span style="width:30%; text-align:left;  display: inline-block;"><a class="small-text"
                                                                                                     href="#">忘记密码?</a></span>
                                <span style="width:30%; text-align:right;  display: inline-block;"><a href="#" class="btn btn-info" ng-click="login()" ng-disabled="userForm.userId.$error.required || userForm.password.$error.required">登录</a></span>
                                <span style="width:30%; text-align:right;  display: inline-block;"><a href="../pages/register/RegisterStep1.html" class="btn btn-info">注册</a></span>
                            </div>
                        </fieldset>
                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div> <!-- end login -->
                <div class="logo">
                    <p>百江燃气</p>
                    <img src="../images/icon/gas.ico" style="margin-top: -50px;width: 100px;height: 100px;"></img>

                </div>
                <div class="tiny-code">
                    <img src="../images/首页二维码.png" style="margin-top: -50px;width: 100px;height: 100px;"></img>
                </div>


            </div>
        </center>
    </div>


</div>
</body>
</html>