<div class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="userForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;{{modalTitle}}&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 text-left">
                                <label>客户编号</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;" class="col-xs-4">
                                <input type="text" class="form-control input-sm" ng-model="vm.currentCustomer.userId">
                            </div>
                            <div style="margin-left: 20px;" class="col-xs-2 text-left">
                                <label>客户姓名</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;" class="col-xs-4">
                                <input type="text" class="form-control input-sm" ng-model="vm.currentCustomer.name">
                            </div>
                        </div>
                        <br>
                        <div class="row"  ng-if="!isModify">
                            <div class="col-xs-2 text-left">
                                <label>办理人信息</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;" class="col-xs-4">
                                <input type="text" class="form-control input-sm" ng-model="currentUser.userId">
                            </div>
                            <div style="margin-left: 20px;" class="col-xs-2 text-left">
                                <label>数量</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;"  class="col-xs-4">
                                <!--<input type="text" class="form-control input-sm" ng-model="q.ticketSn">-->
                                <input type="text" class="form-control input-sm" ng-model="vm.quantity" ng-change="quantityInput()">
                            </div>
                        </div>
                        <br >
                        <div class="row">
                            <div class="col-xs-2 text-left">
                                <label>规格代码</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;"  class="col-xs-4">
                                <select name="specCode" ng-model="specCode" ng-options="goods.name for goods in vm.goodsList" class="form-control" ng-selected="" ng-change="specCodeChange()"></select>

                            </div>
                            <div style="margin-left: 20px;" class="col-xs-2 text-left">
                                <label>使用状态</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;"  class="col-xs-4">
                                <select  ng-model="state" ng-options="ticketStatus for ticketStatus in vm.ticketStates" class="form-control" ng-selected="" ng-change="ticketStatusChange()"></select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2 text-left">
                                <label>有效期起始</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;" class="col-xs-4">
                                <label class="input"><input type="text"  id="startTimePicker"  class="form-control" ng-model="q.startDate"></label>
                            </div>
                            <div style="margin-left: 20px;" class="col-xs-2 text-left">
                                <label>有效期终止</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;" class="col-xs-4">
                                <label class="input"><input type="text"  id="endTimePicker"  class="form-control" ng-model="q.endDate"></label>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div  class="col-xs-2 text-left">
                                <label>备注</label>
                            </div>
                            <div style="margin-left: -20px;margin-top: -8px;" class="col-xs-10">
                                <input type="text" class="form-control  input-sm" ng-model="q.note">
                            </div>
                        </div>


                    </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" ng-click="submit(q)" class="btn btn-primary" data-dismiss="modal">保存</button>
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>