<style>
    .tableContentAdjust{
        text-align: center;
        vertical-align: middle;
    }
    .inputStyle{
        width:100%;
        background-color: inherit;
        border: none;
    }
    .paperBottom{
        margin-top: 25px;
        font-size: large;
        font-weight: normal ;
    }
    @media print {
        .noprint {
            display: none
        }
        table, th, td {
            height: 40px;
            border: 1px solid #C7C7C7;
        }
        .border1{
            border:1px solid #C7C7C7;
        }
        input{
            border:none;
        }
    }
</style>
<div class="ribbon border1">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>钢检瓶情况报表</li>
    </ol>
</div>

<div class="table-wrapper">
    <div class="toolbar">
        <form role="form">
            <div class="row">

                    <label class="input">钢检员工号:</label>
                    <label class="input"><input type="text" class="form-control input-md" ng-model="q.userId"> </label>
                    <label class="input">时间：</label>
                    <label class="input"><input type="text"  id="datetimepickerStart"  class="form-control pull-center" ng-model="q.startTime"></label>
                    <button ng-click="upload()" class="btn btn-sm btn-primary noprint"><i class="fa fa-search"></i> 提交 </button>
                    <button ng-click="printPage()" class="btn btn-sm btn-primary pull-right noprint"><i class="fa fa-print"></i>打印</button>
            </div>


                <!--<div class="col-md-4">-->
                    <!--<label class="input">钢检员工号:</label>-->
                    <!--<label class="input"><input type="text" class="form-control input-md" ng-model="q.userId"> </label>-->
                <!--</div>-->

                <!--<div class="col-md-4">-->
                    <!--<label class="input">时间：</label>-->
                    <!--<label class="input"><input type="text"  id="datetimepickerStart"  class="form-control" ng-model="q.startTime"></label>-->
                <!--</div>-->

                <!--<div class="col-md-2">-->
                <!--</div>-->

                <!--<div class="col-md-1">-->
                    <!--<button ng-click="upload()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 提交 </button>-->
                <!--</div>-->
                <!--<div class="col-md-1">-->
                    <!--<button ng-click="printPage()" class="btn btn-sm btn-primary"><i class="fa fa-print"></i>打印</button>-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>

    <table class="table table-striped table-hover props table-sm table-bordered table-condensed">
        <thead>
        <tr>
            <td width="4%" class="message tableContentAdjust" >品名项目</td>
            <td width="4.8%" class="message tableContentAdjust">上日库存</td>
            <td width="4.8%" class="message tableContentAdjust">本日领用数量</td>
            <td width="4.8%" class="message tableContentAdjust">本月累计领用数量</td>
            <td width="4.8%" class="message tableContentAdjust">本日送检数量</td>
            <td width="4.8%" class="message tableContentAdjust">本月累计送检数量</td>
            <td width="4.8%" class="message tableContentAdjust">本日退维修瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本月累计退钢瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本日收取钢检瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本月累计收取钢检数量</td>
            <td width="4.8%" class="message tableContentAdjust">本日退报废瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本月累计退报废瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本日退押金瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本月累计退押瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">本日库存</td>
            <td width="4.8%" class="message tableContentAdjust">押瓶数量</td>
            <td width="4.8%" class="message tableContentAdjust">钢检收费标准</td>
            <td width="4.8%" class="message tableContentAdjust">本日应收钢检费</td>
            <td width="4.8%" class="message tableContentAdjust">本日实收钢检费</td>
            <td width="4.8%" class="message tableContentAdjust">本日收取瓶押金额</td>
            <td width="4.8%" class="message tableContentAdjust">本日退返瓶押金额</td>
        </tr>

        </thead>
        <tbody>
        <!--可以根据后台获取的品项个数来动态添加-->
        <!--<tr ng-repeat="item in vm.goodsTypes">-->
        <tr ng-repeat="item in vm.goodsTypes">
            <td width="4%" class="message tableContentAdjust">{{item.name}}</td>
            <td width="4.8%" class="message tableContentAdjust">
                <label class="input"><input type="text" maxlength="10"  class="form-control inputStyle" ng-model="item.yesterdayInventory"></label>
            </td>

            <td width="4.8%" class="message tableContentAdjust">
                <label class="input"><input type="text"  id="todayLYQuantity"  class="form-control inputStyle" ng-model="item.todayLYQuantity"></label>
            </td>

            <td width="4.8%" class="message tableContentAdjust">
                <label class="input"><input type="text"  id="monthlySumLYQuantity"  class="form-control inputStyle" ng-model="item.monthlySumLYQuantity"></label>
            </td>

            <td width="4.8%" class="message tableContentAdjust">
                <label class="input"><input type="text"  id="todaySJQuantity"  class="form-control inputStyle" ng-model="item.todaySJQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.monthlySumSJQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayReturnRepairQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.monthlySumReturnQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.todayInQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.monthlySumInQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.todayScrappedQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.monthlySumScrappedQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayReturnDepositQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.monthlySumReturnDepositQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayInventory"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.depositBottleQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.checkFeeStandard"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayShouldInCheckFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.todayRealInCheckFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.todayInDepositFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.todayReturnDepositFee"></label>
            </td>
        </tr>

        <tr>
            <td width="4.8%" class="message tableContentAdjust">小计</td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.monthlySumSJQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayReturnRepairQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.monthlySumReturnQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.todayInQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.monthlySumInQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.todayScrappedQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.monthlySumScrappedQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.todayReturnDepositQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.monthlySumReturnDepositQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text" class="form-control inputStyle" ng-model="item.todayInventory"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.depositBottleQuantity"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.checkFeeStandard"></label>
            </td>


            <td width="4.8%">
                <label class="input"><input type="text"  class="form-control inputStyle" ng-model="item.todayShouldInCheckFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.todayRealInCheckFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayInDepositFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayReturnDepositFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"    class="form-control inputStyle" ng-model="item.todayRealInCheckFee"></label>
            </td>

            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayInDepositFee"></label>
            </td>

             <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayReturnDepositFee"></label>
            </td>
            <td width="4.8%">
                <label class="input"><input type="text"   class="form-control inputStyle" ng-model="item.todayReturnDepositFee"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <!--<div class="toolbar">-->
    <!--<form role="form">-->
    <!--<button type="submit" class="btn btn-sm btn-primary pull-right">提交申请</button>-->
    <!--</form>-->
    <!--</div>-->
</div>

<div class="row">
    <div class="col-md-1">
    <label class="paperBottom">审核：</label>
    </div>

    <div class="col-md-10">
        <label class="input paperBottom">店长：</label>
        <label class="input"><input type="text" class="form-control" ng-model="q.startTime"></label>
        <label class="input paperBottom ">营业员：</label>
        <label class="input"><input type="text" class="form-control" ng-model="q.startTime"></label>
    </div>

</div>