<div class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog"  style=" width: 1000px;">
        <div class="modal-content">
            <form name="userForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">&nbsp;{{modalTitle}}&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <table class="table table-bordered table-hover .table-condensed">
                                <thead>
                                <tr>
                                    <td style="background: lightblue;text-align: center" width="5%">序号</td>
                                    <td style="background: lightblue;text-align: center" width="10%">客户编号</td>
                                    <td style="background: lightblue;text-align: center" width="10%">办理人编号</td>
                                    <td style="background: lightblue;text-align: center" width="10%">优惠券规格</td>
                                    <td style="background: lightblue;text-align: center" width="10%">使用状态</td>
                                    <td style="background: lightblue;text-align: center" width="10%">使用时间</td>
                                    <td style="background: lightblue;text-align: center" width="10%">有效期起始</td>
                                    <td style="background: lightblue;text-align: center" width="10%">有效期结束</td>
                                    <td style="background: lightblue;text-align: center" width="5%">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ticketDetail in vm.currentCustomerTickets">
                                    <td class="message">{{$index+1}}</td>
                                    <td class="message">{{ticketDetail.customer.userId}}</td>
                                    <td class="message">{{ticketDetail.operator.userId}}</td>
                                    <td class="message">{{ticketDetail.specName}}</td>
                                    <td class="message">{{ticketDetail.couponStatus.name}}</td>
                                    <td class="message">{{ticketDetail.useTime}}</td>
                                    <td class="message">{{ticketDetail.startDate}}</td>
                                    <td class="message">{{ticketDetail.endDate}}</td>
                                    <td class="operate">
                                        <button title="删除" ng-click="deleteTicket(ticketDetail)" type="button" class="btn btn-primary btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                        <!--<button title="修改" ng-click="editTicket(ticketDetail)" type="button" class="btn btn-primary btn-outline btn-xs">-->
                                        <!--<i class="fa fa-edit"></i>-->
                                        <!--</button>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <label style="color: red">*若优惠券存在错误，请删除再重新增加</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>