<div class="ribbon">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>订单指派列表</li>
    </ol>
</div>

<div class="table-wrapper">

    <div class="toolbar">
        <form role="form">
            <div class="row">
                <!--<div class="col-md-2">-->
                    <!--<label class="input">订单状态：</label>-->
                    <!--<label class="input"><select  ng-model="q.orderStatus" ng-options="orderStatus.value for orderStatus in vm.orderStatus" class="form-control" ng-selected="" ng-change="orderStatusSearchChange()"></select></label>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<label class="input">时间范围：</label>-->
                    <!--<label class="input"><input type="text"  id="datetimepickerStart" name="productionDate" class="form-control" ng-model="vm.bottle.productionDate" required></label>-->
                    <!--<label class="input">—</label>-->
                    <!--<label class="input"><input type="text"  id="datetimepickerEnd" name="productionDate" class="form-control" ng-model="vm.bottle.productionDate" required></label>-->
                <!--</div>-->
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover props table-sm">
        <thead>
        <tr>
            <th width="1%"></th>
            <th width="3%">序号</th>
            <th width="8%">订单编号</th>
            <th width="5%">接入方式</th>
            <th width="5%">支付方式</th>
            <th width="5%">订单客户</th>


            <th width="20%">收货地址</th>
            <th width="5%">收货人</th>
            <th width="5%">配送员</th>
            <th width="5%">订单状态</th>
            <th width="5%">支付状态</th>
            <th width="5%">金额(元)</th>
            <th width="9%">创建时间</th>
            <th width="9%">预约时间</th>
            <th width="15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in vm.orderList" ng-class="{danger:order.timeSpan>10&&order.orderStatus==0}">
            <td></td>
            <td class="message">{{$index+1+pager.pageSize*(pager.getCurPageNo()-1)}}</td>
            <td class="message">{{order.orderSn}}</td>
            <td class="message">{{order.accessType.name}}</td>
            <td class="message">{{order.payType.name}}</td>
            <td class="message">{{order.customer.userId}}</td>


            <td class="message">{{order.recvAddr.province}}{{order.recvAddr.city}}{{order.recvAddr.county}}{{order.recvAddr.detail}}</td>
            <td class="message" title="电话：{{order.recvPhone}}">{{order.recvName}}</td>

            <td class="message" title="电话：{{order.dispatcher.mobilePhone}} 工号：{{order.dispatcher.jobNumber}}">{{order.dispatcher.name}}</td>
            <td class="message">{{vm.orderStatusDisplay[order.orderStatus]}}</td>
            <td class="message">{{order.payStatus.name}}</td>
            <td class="message">{{order.orderAmount}}</td>
            <td class="message">{{order.createTime}}</td>
            <td class="message">{{order.reserveTime}}</td>
            <td class="operate">
                <button title="详情" ng-click="modify(order)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="">详情</i>
                </button>
                <!--<button title="修改" ng-click="modify(order)" type="button" class="btn btn-primary btn-outline btn-xs">-->
                    <!--<i class="fa fa-edit"></i>-->
                <!--</button>-->
                <button title="指派" ng-if="order.taskId" ng-click="assign(order)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="">指派</i>
                </button>
                <button title="作废" ng-if="order.orderStatus!=3&&order.orderStatus!=4" ng-click="delete(order)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="">作废</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="vm.userList.length == 0" nj-table-no-data></div>
    <div nj-pager pager="pager"></div>
    <div id="aaaa" style="width:500px; height:300px"></div>
</div>
