<style>
    .tableContentAdjust{
        text-align: center;
        vertical-align: middle;
    }
</style>
<div class="ribbon">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>坐席-操作状态统计报表</li>
    </ol>
</div>

<div class="table-wrapper">
    <div class="toolbar">
        <form role="form">
            <div class="row">
                <div class="col-md-3">
                    <label class="input"><input type="text" class="form-control input-md" ng-model="q.userName" placeholder="坐席名"> </label>
                    <label class="input"><input type="text" class="form-control input-md" ng-model="q.userId" placeholder="坐席工号"> </label>
                </div>
                <div class="col-md-4">
                    <label class="input">时间范围：</label>
                    <label class="input"><input type="text"  id="datetimepickerStart"  class="form-control" ng-model="q.startTime"></label>
                    <label class="input">—</label>
                    <label class="input"><input type="text"  id="datetimepickerEnd"  class="form-control" ng-model="q.endTime"></label>
                </div>
                <div class="col-md-3">
                    <label class="input">日期类型：</label>
                    <label class="input"><select  ng-model="q.type" ng-options="type for type in vm.types" class="form-control" ng-selected=""></select></label>
                    <label class="input">间隔数：</label>
                    <label class="input"><select  ng-model="q.interval" ng-options="interval for interval in vm.intervals" class="form-control" ng-selected=""></select></label>
                </div>
                <div class="col-md-2">
                    <button ng-click="search()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 搜索 </button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover props table-sm table-bordered table-condensed">
        <thead>
        <tr>
            <td width="15%" class="message tableContentAdjust" >日期</td>
            <td width="10%" class="message tableContentAdjust">坐席</td>
            <td width="15%" class="message tableContentAdjust">在线总时长</td>
            <td width="15%" class="message tableContentAdjust">通话时长</td>
            <td width="15%" class="message tableContentAdjust">就绪时长</td>
            <td width="15%" class="message tableContentAdjust">未就绪时长</td>
            <td width="15%" class="message tableContentAdjust">置忙时长</td>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="item in vm.dataList">
            <td class="message">{{item.date}}</td>
            <td class="message">{{item.agentUserId}}</td>
            <td class="message">{{item.totalCallTime}}</td>
            <td class="message">{{item.avgCallTime}}</td>
            <td class="message">{{item.inBoundData.count}}</td>
            <td class="message">{{item.inBoundData.hitRate}}</td>
            <td class="message">{{item.inBoundData.totalOperationInSec}}</td>

        </tr>

        <tr>
            <td width="25%" colspan="2" class="message tableContentAdjust">小计</td>

            <td width="6.25%" class="message tableContentAdjust"></td>
            <td width="6.25%" class="message tableContentAdjust"></td>
            <td width="6.25%" class="message tableContentAdjust"></td>
            <td width="6.25%"  class="message tableContentAdjust"></td>
            <td width="6.25%"  class="message tableContentAdjust"></td>
        </tr>

        </tbody>
    </table>
    <!--<div class="toolbar">-->
    <!--<form role="form">-->
    <!--<button type="submit" class="btn btn-sm btn-primary pull-right">提交申请</button>-->
    <!--</form>-->
    <!--</div>-->
</div>