<style>
    .tableContentAdjust{
        text-align: center;
        vertical-align: middle;
    }
    @media print {
        .noprint {
            display: none
        }
        table, th, td {
            height: 40px;
            border: 1px solid #C7C7C7;
        }
        .border1{
            border:1px solid #C7C7C7;
        }
        input,select{
            border:none;
        }
    }
</style>
<div class="ribbon ">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>工作组-来话应答/放弃/溢出分析报表</li>
    </ol>
</div>

<div class="table-wrapper">
    <div class="toolbar">
        <form role="form">
            <div class="row">
                <div class="col-md-3">

                    <label class="text">工作组号：</label><span style="color:red">*</span>
                    <label class="input"><input type="text" class="form-control input-md" ng-model="q.workSet"> </label>
                </div>
                <div class="col-md-4">
                    <label class="text">时间范围：</label><span style="color:red">*</span>
                    <label class="input"><input type="text"  id="datetimepickerStart"  class="form-control" ng-model="q.startTime"></label>
                    <label class="text">至</label>
                    <label class="input"><input type="text"  id="datetimepickerEnd"  class="form-control" ng-model="q.endTime"></label>
                </div>
                <div class="col-md-3">
                    <label class="text">日期类型：</label><span style="color:red">*</span>
                    <label class="input"><select  ng-model="q.type" ng-options="type for type in vm.types" class="form-control" ng-selected=""></select></label>
                    <label class="text">间隔数：</label><span style="color:red">*</span>
                    <label class="input"><select  ng-model="q.interval" ng-options="interval for interval in vm.intervals" class="form-control" ng-selected=""></select></label>
                </div>
                <div class="col-md-1">
                    <button ng-click="search()" class="btn btn-sm btn-primary noprint"><i class="fa fa-search"></i> 搜索 </button>
                </div>
                <div class="col-md-1">
                    <button ng-click="printPage()" class="btn btn-sm btn-primary noprint pull-right"><i class="fa fa-print"></i>打印</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label style="color:red">带*是必填项</label>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover props table-sm table-bordered table-condensed">
        <thead>
        <tr>
            <td width="18%" rowspan="2" class="message tableContentAdjust">小时</td>
            <td width="18%" rowspan="2" class="message tableContentAdjust">总计拨入电话</td>
            <td width="21%" colspan="2" class="message tableContentAdjust">应答</td>
            <td width="21%" colspan="2" class="message tableContentAdjust">放弃</td>
            <td width="22%" colspan="2" class="message tableContentAdjust">溢出/转接</td>
        </tr>

        <tr>
            <td width="11%" class="message tableContentAdjust">电话数</td>
            <td width="10%" class="message tableContentAdjust">%</td>
            <td width="11%" class="message tableContentAdjust">电话数</td>
            <td width="10%"  class="message tableContentAdjust">%</td>
            <td width="11%" class="message tableContentAdjust">电话数</td>
            <td width="11%"  class="message tableContentAdjust">%</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.dataList">
            <td class="message tableContentAdjust">{{item.date}}</td>
            <td class="message tableContentAdjust">{{item.totalCallCount}}</td>

            <td class="message tableContentAdjust">{{item.answerCallDetail.count}}</td>
            <td class="message tableContentAdjust">{{item.answerCallDetail.hitRate}}</td>

            <td class="message tableContentAdjust">{{item.rejectCallDetail.count}}</td>
            <td class="message tableContentAdjust">{{item.rejectCallDetail.hitRate}}</td>

            <td class="message tableContentAdjust">{{item.transferCallDetail.count}}</td>
            <td class="message tableContentAdjust">{{item.transferCallDetail.hitRate}}</td>

        </tr>

        </tbody>
    </table>
    <!--<div class="toolbar">-->
    <!--<form role="form">-->
    <!--<button type="submit" class="btn btn-sm btn-primary pull-right">提交申请</button>-->
    <!--</form>-->
    <!--</div>-->
</div>