<div class="ribbon">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>安检单列表</li>
    </ol>
</div>

<div class="table-wrapper">

    <div class="toolbar">
        <form role="form">
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-12">
                        <label class="input">安检状态：</label>
                        <label class="input"><select  ng-model="q.processStatus" ng-options="securityStatus.name for securityStatus in vm.securityStatusList" class="form-control" ng-selected="" ng-change="SecurityStatusSearchChange()"></select></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="input">安检单编号：</label>
                        <label class="input"><input type="text"  class="form-control" ng-model="q.securitySn"></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="input">时间：</label>
                        <label class="input"><input type="text"  id="datetimepickerStart"  class="form-control" ng-model="q.startTime"></label>
                        <label class="input">—</label>
                        <label class="input"><input type="text"  id="datetimepickerEnd"  class="form-control" ng-model="q.endTime"></label>
                        <button title="删除时间" ng-click="deleteTimeRange()" type="button" class="btn btn-primary btn-outline btn-xs">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-1">
                    <button  ng-click="search()" class="btn btn-md btn-primary pull-right"><i class="fa fa-search"></i> 搜索 </button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover props table-sm">
        <thead>
        <tr>
            <th width="1%"></th>
            <th width="3%">序号</th>
            <th width="10%">安检单编号</th>
            <th width="8%">报修类型</th>
            <th width="8%">申请客户</th>
            <th width="8%">联系人</th>
            <th width="8%">联系电话</th>

            <th width="10%">预约时间</th>
            <th width="8%">处理状态</th>
            <th width="8%">责任部门</th>
            <th width="9%">处理人</th>
            <th width="10%">创建时间</th>
            <th width="15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="security in vm.securityList">
            <td></td>
            <td class="message">{{$index+1+pager.pageSize*(pager.getCurPageNo()-1)}}</td>
            <td class="message">{{security.securitySn}}</td>
            <td class="message">{{security.securityType.name}}</td>
            <td class="message">{{security.customer.userId}}</td>
            <td class="message">{{security.recvName}}</td>
            <td class="message">{{security.recvPhone}}</td>
            <td class="message">{{security.reserveTime}}</td>
            <td class="message">{{security.processStatus.name}}</td>
            <td class="message">{{security.department.name}}</td>
            <td class="message">{{security.dealedUser.userId}}|{{security.dealedUser.name}}</td>
            <td class="message">{{security.createTime}}</td>
            <td class="operate">
                <button title="详情" ng-click="viewDetails(security)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="">详情</i>
                </button>
                <button title="指派" ng-show="security.processStatus.index!=2" ng-click="assign(security)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="">指派</i>
                </button>
                <!--<button title="处理" ng-show="security.processStatus.index!=2" ng-click="deal(security)" type="button" class="btn btn-primary btn-outline btn-xs">-->
                    <!--<i class="">处理</i>-->
                <!--</button>-->
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="vm.securityList.length == 0" nj-table-no-data></div>
    <div nj-pager pager="pager"></div>
</div>
