<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="ticketForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                            aria-hidden="true">&times;</button> <h4 class="modal-title">&nbsp;{{modalTitle}}&nbsp;</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label-large">销售员工ID：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="id" class="form-control" ng-model="vm.modifyTicket.salemanId" ng-change="getSalesManName()">
                        </div>
                        <label class="input-tips" ng-show="ticketForm.id.$error.required || ticketForm.id.$invalid">&nbsp;*&nbsp;必填项</label>
                    </div>
                    <div class="input-group pdb15">
                        <label class="col-sm-4 control-label input-label-large">销售员工姓名：</label>
                        <div class="col-sm-8 input-width">
                            <input type="text" name="name" class="form-control" ng-model="vm.name" ng-disabled="true" required>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" ng-click="submit(vm.modifyTicket);" class="btn btn-primary" data-dismiss="modal">保存</button>
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>