<div class="ribbon">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>钢瓶列表</li>
    </ol>
</div>



<div class="table-wrapper" style="height: 250px">
    <div class="toolbar">
        <form role="form">
            <div class="inline-group">
                <label class="input"><input type="text" class="form-control input-sm" ng-model="q.number" ng-change="search()" placeholder="钢瓶编码"> </label>
                <label class="input"><input type="text" class="form-control input-sm" ng-model="q.liableUserId" ng-change="search()" placeholder="责任人"> </label>
                <label class="input"><input type="text" class="form-control input-sm" ng-model="q.liableDepartmentCode" ng-change="search()" placeholder="责任部门"> </label>
                <span class="glyphicon glyphicon-calendar" ng-click="initDepartmentSelect()"></span>
                <button type="submit" class="btn btn-sm btn-primary" ng-click="search()"><i class="fa fa-search"></i> 搜索 </button>

                <!--<button type="button" class="btn btn-sm btn-success pull-right" ng-click="initPopUp()"><i class="fa fa-plus"></i> 新增钢瓶 </button>-->
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover props table-sm">
        <thead>
        <tr>
            <th width="1%" class="text-center"></th>
            <th width="5%" class="text-center">序号</th>
            <th width="5%" class="text-center">钢瓶编码</th>
            <th width="5%" class="text-center">出厂编码</th>
            <th width="4%" class="text-center">钢瓶规格</th>
            <th width="4%" class="text-center">钢瓶皮重</th>

            <th width="6%" class="text-center">生产厂家</th>
            <!--<th width="5%">定位终端</th>-->
            <th width="5%" class="text-center">空重瓶</th>
            <th width="8%" class="text-center">生产日期</th>
            <th width="8%" class="text-center">上次钢检日期</th>
            <th width="8%" class="text-center">下次钢检日期</th>
            <th width="8%" class="text-center">报废日期</th>
            <th width="5%" class="text-center">启用状态</th>
            <th width="5%" class="text-center">工作状态</th>
            <th width="5%" class="text-center">责任人</th>
            <th width="5%" class="text-center">部门</th>
            <th width="10%" class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bottle in vm.bottleList" class="text-center">
            <td></td>
            <td class="message text-center">{{$index+1+pager.pageSize*(pager.getCurPageNo()-1)}}</td>
            <td class="message text-center">{{bottle.number}}</td>
            <td class="message text-center">{{bottle.publicNumber}}</td>
            <td class="message text-center">{{bottle.spec.name}}</td>
            <td class="message text-center">{{bottle.tareWeight}}</td>
            <td class="message text-center">{{bottle.factory.name}}</td>

            <!--<td class="message">{{bottle.locationDevice.number}}</td>-->
            <td class="message text-center">{{bottle.loadStatus.name}}</td>
            <td class="message text-center">{{bottle.productionDate}}</td>
            <td class="message text-center">{{bottle.verifyDate}}</td>
            <td class="message text-center">{{bottle.nextVerifyDate}}</td>
            <td class="message text-center">{{bottle.scrapDate}}</td>
            <td class="message text-center">{{bottle.lifeStatus.name}}</td>
            <td class="message text-center">{{bottle.serviceStatus.name}}</td>
            <td class="message text-center"title="姓名:{{bottle.user.name}}">{{bottle.user.userId}}</td>
            <td class="message text-center" ng-if="bottle.user.userGroup.code==0004">客户</td>
            <td class="message text-center" ng-if="bottle.user.userGroup.code!=0004">{{bottle.userDepartment.name}}</td>
            <td class="operate text-center">
                <!--<button title="详情" ng-click="location(bottle.location|lonFilter, bottle.location|lanFilter)" type="button" class="btn btn-primary btn-outline btn-xs">-->
                    <!--<i class="fa fa-info-circle"></i>-->
                <!--</button>-->
                <button title="修改" ng-click="modify(bottle)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="fa fa-edit"></i>
                </button>
                <button title="删除" ng-click="delete(bottle)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div ng-if="vm.bottleList.length == 0" nj-table-no-data></div>
    <div nj-pager pager="pager"></div>
</div>
