<div class="ribbon">
    <a href=""><span class="home fa fa-home"></span></a>
    <ol class="breadcrumb">
        <li>充气站库存管理</li>
    </ol>
</div>

<div class="table-wrapper" style="height: 250px">
    <div class="toolbar">
        <form role="form">
            <div class="inline-group">
                <label class="input"><input type="text" class="form-control input-sm" ng-model="q.bottleNumber" ng-change="search()" placeholder="钢瓶编码"> </label>
                <button type="submit" class="btn btn-sm btn-primary" ng-click="search()"><i class="fa fa-search"></i> 搜索 </button>
                <button type="button" class="btn btn-sm btn-success pull-right" ng-click="modify(null)"><i class="fa fa-minus"></i> 出库 </button>
                <button type="button" class="btn btn-sm btn-success pull-right" ng-click="initPopUp()"><i class="fa fa-plus"></i> 入库 </button>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover props table-sm">
        <thead>
        <tr>
            <th width="1%"></th>
            <th width="5%">序号</th>
            <th width="10%">钢瓶编码</th>
            <th width="10%">钢瓶规格</th>
            <th width="5%">定位终端</th>
            <th width="5%">空重瓶</th>
            <th width="10%">生产日期</th>
            <th width="10%">上次钢检日期</th>
            <th width="10%">下次钢检日期</th>
            <th width="10%">报废日期</th>
            <th width="5%">启用状态</th>
            <th width="5%">工作状态</th>
            <th width="10%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bottle in vm.bottleList">
            <td></td>
            <td class="message">{{$index+1+pager.pageSize*(pager.getCurPageNo()-1)}}</td>
            <td class="message">{{bottle.number}}</td>
            <td class="message">{{bottle.spec.name}}</td>
            <td class="message">{{bottle.locationDevice.number}}</td>
            <td class="message">{{bottle.loadStatus.name}}</td>
            <td class="message">{{bottle.productionDate}}</td>
            <td class="message">{{bottle.verifyDate}}</td>
            <td class="message">{{bottle.nextVerifyDate}}</td>
            <td class="message">{{bottle.scrapDate}}</td>
            <td class="message">{{bottle.lifeStatus.name}}</td>
            <td class="message">{{bottle.serviceStatus.name}}</td>

            <td class="operate">
                <button title="详情" ng-click="location(bottle.location|lonFilter, bottle.location|lanFilter)" type="button" class="btn btn-primary btn-outline btn-xs">
                    <i class="fa fa-info-circle"></i>
                </button>
                <button title="出库" ng-click="modify(bottle)" type="button" class="btn btn-primary btn-outline btn-xs">
                    出库
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="vm.bottleList.length == 0" nj-table-no-data></div>
    <div nj-pager pager="pager"></div>
</div>
