<div class="toolbar">
    <form role="form">
        <div class="inline-group">
            <label class="input">时间：</label>
            <label class="input"><input type="text"  id="datetimepickerStart"  class="form-control input-sm" ng-model="q.startTime"></label>
            <label class="input">—</label>
            <label class="input"><input type="text"  id="datetimepickerEnd"  class="form-control input-sm" ng-model="q.endTime"></label>
            <button  ng-click="search()" class="btn btn-md btn-primary"><i class="fa fa-search"></i> 搜索 </button>
        </div>

    </form>
</div>

<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="margin-top: 100px">
    <div id="orderAccessTypeChart" class="col-xs-12 col-sm-6 col-md-6 col-lg-6  " style="height:400px;width:400px"></div>
    <div id="orderPayTypeChart" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " style="height:400px;width:500px"></div>
</div>
<div  class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="margin-top: 100px">
    <div id="orderDayCountChart" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="height:400px;width:800px"></div>
</div>


