<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.AdjustPriceScheduleDao">

    <resultMap id="DetailResultMap" type="com.donno.nj.domain.AdjustPriceSchedule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="effect_time" property="effectTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>

        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

        <collection property="adjustPriceDetailList" column="id" ofType="com.donno.nj.domain.AdjustPriceDetail" select="com.donno.nj.dao.AdjustPriceScheduleDetailDao.findByAdjustPriceScheduleIdx">
        </collection>
    </resultMap>

    <sql id="TblAdjustPriceSchedule">
        t_adjust_price_schedule
    </sql>


    <sql id="InsertColumnList">
        name,effect_time,status,note
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO <include refid="TblAdjustPriceSchedule"/>(<include refid="InsertColumnList"/>)
        VALUES( #{name},#{effectTime},#{status.index},#{note} )
    </insert>



    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM <include refid="TblAdjustPriceSchedule"/> WHERE id= #{id}
    </delete>

    <select id="findByName" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblAdjustPriceSchedule"/>
        WHERE
        name =  #{name}
    </select>

    <select id="findById" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblAdjustPriceSchedule"/>
        WHERE
        id =  #{id}
    </select>

    <select id="getList" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblAdjustPriceSchedule"/>
    WHERE
        id > 0

        <if test="name != null">
        AND  name like CONCAT(CONCAT('%', #{name}), '%')
        </if>

        <if test="status != null">
            AND  status = #{status}
        </if>


        <!--<if test="startTime != null"  >-->
        <!--<if test="endTime != null">-->
            <!--AND  (effect_time  BETWEEN #{startTime}  and #{endTime} )-->
        <!--</if>-->
        <!--</if>-->

        <if test="endTime != null"  >
            AND  ( effect_time > #{startTime} )
        </if>

        <if test="endTime != null"  >
            AND  ( #{endTime} > effect_time)
        </if>


        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>

        </if>


        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>

    <select id="count" resultType="Integer">
        SELECT count(*)
        FROM <include refid="TblAdjustPriceSchedule"/>
        WHERE
        id > 0

        <if test="name != null">
            AND  name like CONCAT(CONCAT('%', #{name}), '%')
        </if>

        <if test="status != null">
            AND  status = #{status}
        </if>


        <if test="endTime != null"  >
            AND  ( effect_time > #{startTime} )
        </if>

        <if test="endTime != null"  >
            AND  ( #{endTime} > effect_time)
        </if>


        <if test="startTime != null"  >
            AND  (effect_time > #{startTime})
        </if>

    </select>

    <update id="update">
    UPDATE <include refid="TblAdjustPriceSchedule"/>
    <set>
        <if test="name != null">name = #{name},</if>
        <if test="status != null">status = #{status.index},</if>
        <if test="effectTime != null">effect_time = #{effectTime},</if>
        <if test="note != null">note = #{note}</if>
    </set>
    WHERE id = #{id}
    </update>

</mapper>