<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.DepartmentDao">
    <resultMap id="BaseResultMap" type="com.donno.nj.domain.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <association property="parentDepartment" column="parent_idx" select="com.donno.nj.dao.DepartmentDao.findById">
        </association>
    </resultMap>

    <resultMap id="SubDepResultMap" type="com.donno.nj.domain.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <collection property="lstSubDepartment" javaType="ArrayList" column="id" ofType="Department" select="com.donno.nj.dao.DepartmentDao.findSubDep" />
    </resultMap>

    <sql id="TableName">
        t_department
    </sql>

    <sql id="QueryColumnList">
        id,code,name, parent_idx,note,create_time,update_time
    </sql>

    <sql id="InsertColumnList">
       code,name,parent_idx, note
    </sql>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="TableName"/>
        WHERE
          id = #{id}
    </select>



    <select id="findByCode" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="TableName"/>
        WHERE
        code = #{code}
    </select>


    <select id="findSubDep" resultMap="SubDepResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="TableName"/>
        <where>
            parent_idx = #{id}
        </where>
    </select>


    <select id="getList" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="TableName"/>
        <where>
            id > 0
            <if test="code != null">
              and  code = #{code}
            </if>

            <if test="name != null">
                and  name LIKE CONCAT('%',#{name},'%')
            </if>

            <if test="orderBy != null">
                <if test="orderBy != ''">
                    ORDER BY   ${orderBy}
                </if>
            </if>
        </where>

        <if test="limit != null"  >
            <if test="offset != null"  >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>


    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM <include refid="TableName"/>
        <where>
            id > 0
            <if test="code != null">
                and  code = #{code}
            </if>


            <if test="name != null">
                and  name LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>


    <select id="getSubDepList" resultMap="SubDepResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="TableName"/>
        <where>
            id > 0

            <if test="code != null">
                and  code = #{code}
            </if>

            <if test="code == null">
               and parent_idx = 0
            </if>

            <if test="name != null">
                and  name LIKE CONCAT('%',#{name},'%')
            </if>
            <!--<if test="code != null">-->
                <!--and parent_idx = ( SELECT id from t_department where code = #{code} )-->
            <!--</if>-->

            <!--<if test="code == null">-->
                <!--and parent_idx = 0-->
            <!--</if>-->

            <!--<if test="name != null">-->
                <!--and  parent_idx in ( select id from  t_department where name LIKE CONCAT('%',#{name},'%') )-->
            <!--</if>-->

            <if test="orderBy != null">
                <if test="orderBy != ''">
                    ORDER BY   ${orderBy}
                </if>
            </if>
        </where>

        <if test="limit != null"  >
            <if test="offset != null"  >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>


    <select id="countSubDep" resultType="Integer">
        SELECT COUNT(*)
        FROM <include refid="TableName"/>
        <where>
            id > 0

            <if test="code != null">
                and parent_idx = ( SELECT id from t_department where code = #{code} )
            </if>

            <if test="code == null">
                and parent_idx = 0
            </if>

            <if test="name != null">
                and  parent_idx in ( select id from  t_department where name LIKE CONCAT('%',#{name},'%') )
            </if>
        </where>
    </select>


    <insert id="insert">
        INSERT IGNORE INTO <include refid="TableName"/>(<include refid="InsertColumnList"/>)
        VALUES( #{code}, #{name},#{parentDepartment.id},#{note})
    </insert>


    <delete id="delete" >
        DELETE FROM <include refid="TableName"/>
        <where>
            id > 0
            <if test="code != null">
                and  code = #{code}
            </if>

            <if test="id != null">
                and  id = #{id}
            </if>

        </where>
    </delete>

    <update id="update">
        UPDATE <include refid="TableName"/>
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="note != null">note = #{note}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>