<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.GasCylinderSvcStatusOpHisDao">

    <resultMap id="DetailResultMap" type="com.donno.nj.domain.GasCylinderSvcStatusOpHis">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="gas_cyr_svc_status" property="serviceStatus"  typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>

        <result column="op_time" property="optime" jdbcType="TIMESTAMP"/>

        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>

        <result column="note" property="note" jdbcType="VARCHAR"/>

        <association property="gasCylinder" column="gas_cyr_idx" select="com.donno.nj.dao.GasCylinderDao.findById">
        </association>

        <association property="srcUser" column="src_user_idx" select="com.donno.nj.dao.UserDao.findById">
        </association>

        <association property="targetUser" column="target_user_idx" select="com.donno.nj.dao.UserDao.findById">
        </association>

    </resultMap>

    <sql id="TblGasCylinderSvcOpHis">
        t_gas_cyr_svc_status_op_his
    </sql>

    <sql id="InsertColumnList">
        gas_cyr_idx,gas_cyr_svc_status,src_user_idx,target_user_idx,longitude,latitude,op_time
    </sql>

    <insert id="insert"  keyProperty="id" useGeneratedKeys="true">
        INSERT IGNORE INTO <include refid="TblGasCylinderSvcOpHis"/>(<include refid="InsertColumnList"/>)
        VALUES( #{gasCylinder.id},#{serviceStatus.index}, #{srcUser.id} , #{targetUser.id},#{longitude},#{latitude},#{optime})
    </insert>

    <sql id = "getListCondition">
    <where>
    <if test="number != null">  gas_cyr_idx = ( select id from t_gas_cylinder where number = #{number}) </if>
    <if test="startTime != null">
            and   t_gas_cyr_svc_status_op_his.op_time >=   #{startTime}
    </if>

    <if test="endTime != null">
            and    #{endTime}  >=   t_gas_cyr_svc_status_op_his.op_time
    </if>

    </where>
    </sql>


    <select id="getList" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblGasCylinderSvcOpHis"/>
        <include refid="getListCondition"/>
        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>
        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>


    <select id="count" resultType="Integer">
        SELECT COUNT(id)
        FROM <include refid="TblGasCylinderSvcOpHis"/>
        <include refid="getListCondition"/>
    </select>

</mapper>