<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.GasCylinderStockStaticsDao">
    <resultMap id="DetailResultMap" type="com.donno.nj.domain.GasCylinderStockStatics">

        <result column="amount" property="amount" jdbcType="INTEGER"/>
        <association property="department" column="department_code" select="com.donno.nj.dao.DepartmentDao.findByCode">
        </association>

        <association property="gasCylinderSpec" column="gas_cys_spec_code" select="com.donno.nj.dao.GasCylinderSpecDao.findByCode">
        </association>
    </resultMap>

    <select id="getStatics" resultMap="DetailResultMap">
        SELECT t_department.code as department_code,  t_gas_cylinder_spec.code as gas_cys_spec_code,count(t_gas_cylinder.id) as amount
        from t_gas_cylinder,t_gas_cylinder_spec  ,t_cylinder_user,t_sysuser,t_department
        where t_gas_cylinder.spec_idx =t_gas_cylinder_spec.id and t_gas_cylinder.service_status = #{gasCynServiceStatus}
              and   t_cylinder_user.cylinder_idx = t_gas_cylinder.id
              and   t_cylinder_user.user_idx = t_sysuser.user_idx
              and   t_department.id = t_sysuser.department_idx
              group by t_department.id, t_gas_cylinder_spec.id
    </select>
</mapper>