<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.GasCynTrayDao">

    <resultMap id="DetailResultMap" type="com.donno.nj.domain.GasCynTray">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="status" property="deviceStatus" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>
        <result column="warning_status" property="warnningStatus" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>
        <result column="leak_status" property="leakStatus" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>
        <result column="weight" property="weight" jdbcType="FLOAT"/>
        <result column="time_stamp" property="timestamp" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

        <association property="user" column="number" select="com.donno.nj.dao.GasCynTrayBindRelationDao.findUserByGasNumber">
        </association>

    </resultMap>

    <sql id="TblGasCynTray">
        t_tray_device
    </sql>

    <sql id="InsertColumnList">
        number,status,note
    </sql>

    <insert id="insert"  keyProperty="id" useGeneratedKeys="true">
        INSERT IGNORE INTO <include refid="TblGasCynTray"/>(<include refid="InsertColumnList"/>)
        VALUES( #{number},#{deviceStatus.index}, #{note} )
    </insert>

    <sql id = "getListCondition">
    <where>
    <if test="number != null">   number = #{number}</if>
    <if test="status != null">   and status = #{status} </if>
    <if test="warningStatus != null">   and warning_status = #{warningStatus} </if>
    <if test="leakStatus != null">   and leak_status = #{leakStatus} </if>
    <if test="userId != null">   and id in (SELECT gas_tray_idx FROM t_user_gas_cyn_tray WHERE user_idx =
        (SELECT id FROM  t_user WHERE user_id=#{userId})) </if>

    </where>
    </sql>


    <select id="getList" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblGasCynTray"/>
        <include refid="getListCondition"/>
        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>
        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>


    <select id="count" resultType="Integer">
        SELECT COUNT(id)
        FROM <include refid="TblGasCynTray"/>
        <include refid="getListCondition"/>
    </select>


    <update id="update">
        UPDATE <include refid="TblGasCynTray"/>
        <set>
            <if test="deviceStatus != null">status = #{deviceStatus.index},</if>
            <if test="warnningStatus != null">warning_status = #{warnningStatus.index},</if>
            <if test="leakStatus != null">leak_status = #{leakStatus.index},</if>
            <if test="number != null">number = #{number},</if>

            <if test="weight != null">weight = #{weight},</if>
            <if test="timestamp != null">time_stamp = #{timestamp},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="note != null">note = #{note},</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="findById" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblGasCynTray"/>
        WHERE
        id =  #{id}
    </select>

    <select id="findByNumber" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblGasCynTray"/>
        WHERE
        number =  #{number}
    </select>


    <delete id="delete" parameterType="Integer">
        DELETE FROM <include refid="TblGasCynTray"/>
        WHERE
        id = #{id}
    </delete>

</mapper>