<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.GasCylinderInOutDao">

    <sql id="TblGasCylinderInOut">
        t_gas_cylinder_in_out
    </sql>

    <sql id="InsertColumnList">
        gas_cyr_idx,stock_type,amount,src_user_idx,target_user_idx,op_time
    </sql>

    <insert id="insert"  keyProperty="id" useGeneratedKeys="true">
        INSERT IGNORE INTO <include refid="TblGasCylinderInOut"/>(<include refid="InsertColumnList"/>)
        VALUES( #{gasCylinder.id},#{stockType.index},#{amount}, #{srcUser.id} , #{targetUser.id},#{optime})
    </insert>


</mapper>