<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--钢瓶与责任人关系-->

<mapper namespace="com.donno.nj.dao.GasCynUserRelDao">

    <resultMap id="DetailResultMap" type="com.donno.nj.domain.GasCynUserRel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <association property="gasCylinder" column="cylinder_idx" select="com.donno.nj.dao.GasCylinderDao.findById">
        </association>
        <association property="user" column="user_idx" select="com.donno.nj.dao.UserDao.findById">
        </association>


    </resultMap>

    <sql id="TblCylinderUser">
        t_cylinder_user
    </sql>


    <!--绑定钢瓶与用户-->
    <insert id="bindUser">
        INSERT  INTO t_cylinder_user(cylinder_idx,user_idx)
        VALUES( #{gasCylinderIdx},#{userIdx})
    </insert>



    <!--绑定钢瓶与用户关系修改-->
    <update id="updateBindedUser">
        UPDATE <include refid="TblCylinderUser"/>
        <set>
            user_idx = #{userIdx}
        </set>
        WHERE id = #{id}
    </update>


    <!--<delete id="deleteByIdx" parameterType="java.lang.Integer">-->
    <!--DELETE FROM t_cylinder_user WHERE id= #{id}-->
    <!--</delete>-->

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM t_cylinder_user WHERE id= #{id}
    </delete>

    <!--查找钢瓶-责任人关系-->
    <select id="findBindRel" resultMap="DetailResultMap">
        SELECT  *
        FROM t_cylinder_user
        WHERE
        cylinder_idx = #{gasCylinderIdx}
    </select>


    <!--钢瓶责任人-->
    <select id="findLiableUserByCylinderId" resultMap="com.donno.nj.dao.UserDao.BaseResultMap">
        SELECT t_user.*,t_group.id as group_id,t_group.code as group_code,t_group.name as group_name
        FROM t_user,t_cylinder_user,t_gas_cylinder,t_group
        where
        (
        t_user.id  = t_cylinder_user.user_idx
        AND   t_gas_cylinder.id  = t_cylinder_user.cylinder_idx
        AND t_cylinder_user.cylinder_idx = #{gasCylinderIdx}
        AND t_user.group_idx = t_group.id
        )
    </select>

    <!--钢瓶责任人所属部门-->
    <select id="findUserDepByCylinderId" resultMap="com.donno.nj.dao.DepartmentDao.BaseResultMap">
        SELECT t_department.*
        FROM t_department
        where
        (
            t_department.id =
            (
                SELECT t_sysuser.department_idx FROM t_sysuser WHERE
                (
                   t_sysuser.user_idx =
                   (
                       SELECT t_cylinder_user.user_idx FROM t_cylinder_user WHERE
                      (
                            t_cylinder_user.cylinder_idx = #{gasCylinderIdx}
                      )
                   )
                )
             )
        )
    </select>
</mapper>