<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.GasCyrDynDetailDao">
    <resultMap id="BaseResultMap" type="com.donno.nj.domain.GasCyrDynDetail">
        <id column="id" property="id" jdbcType="INTEGER"/>

        <result column="oper_user_id" property="operUserId" jdbcType="VARCHAR"/>
        <result column="gas_cyr_spec_code" property="gasCyrSpecCode" jdbcType="VARCHAR"/>
        <result column="gas_cyr_spec_name" property="gasCyrSpecName" jdbcType="VARCHAR"/>
        <result column="oper_type" property="gasCyrDynOperType" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>

        <result column="oper_time" property="operTime" jdbcType="TIMESTAMP"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="TableName">
         t_gas_cyr_dyn_detail
    </sql>

    <sql id="QryFromTable">
         t_gas_cyr_dyn_detail,t_user,t_gas_cylinder_spec
    </sql>


    <sql id="QueryColumnList">
       t_gas_cyr_dyn_detail.id,
       t_gas_cyr_dyn_detail.oper_type,
        t_gas_cyr_dyn_detail.amount,t_gas_cyr_dyn_detail.note,t_gas_cyr_dyn_detail.create_time,t_gas_cyr_dyn_detail.update_time,
        t_gas_cylinder_spec.code as gas_cyr_spec_code, t_gas_cylinder_spec.name as gas_cyr_spec_name,
        t_user.user_id as oper_user_id
    </sql>

    <sql id="InsertColumnList">
        oper_idx,gas_cyr_spec_idx,oper_type,amount, note
    </sql>


    <sql id="getListCondition">
        <where>
            t_gas_cyr_dyn_detail.id > 0
            AND
            t_gas_cyr_dyn_detail.gas_cyr_spec_idx = t_gas_cylinder_spec.id
            AND
            t_gas_cyr_dyn_detail.oper_idx = t_user.id
            <if test="gasCyrSpecCode != null">
                and t_gas_cyr_charge_spec.gas_cyr_spec_idx = ( select id from t_gas_cylinder_spec where code = #{gasCyrSpecCode} )
            </if>

            <if test="operType != null">
                and  t_gas_cyr_charge_spec.oper_type  = #{operType}
            </if>

            <if test="startTime != null">
                and   t_gas_cyr_charge_spec.create_time >=   #{startTime}
            </if>

            <if test="endTime != null">
                and    #{endTime}  >=   t_gas_cyr_charge_spec.create_time
            </if>


        </where>
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="QryFromTable"/>
        <include refid="getListCondition"/>

        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>

    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM  <include refid="QryFromTable"/>
        <include refid="getListCondition"/>
    </select>


    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="QryFromTable"/>
        WHERE
        t_gas_cyr_dyn_detail.gas_cyr_spec_idx = t_gas_cylinder_spec.id
        AND
        t_gas_cyr_dyn_detail.oper_idx = t_user.id
        AND
        t_gas_cyr_dyn_detail.id = #{id}
    </select>



    <insert id="insert">
        INSERT IGNORE INTO <include refid="TableName"/>(<include refid="InsertColumnList"/>)
        VALUES(
        (select id from t_user where user_id = #{operUserId} ),
        (select id from t_gas_cylinder_spec where code = #{gasCyrSpecCode} ),
        #{gasCyrDynOperType.index},
        #{amount},#{note})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM <include refid="TableName"/>
        WHERE
        id = #{id}
    </delete>

    <update id="update">
        UPDATE <include refid="TableName"/>
        <set>
            <if test="amount != null">price = #{amount},</if>
            <if test="note != null">note = #{note}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>