<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.OrderDetailDao">

    <!--<resultMap id="DetailResultMap" type="com.donno.nj.domain.Order">-->
        <!--<id column="id" property="id" jdbcType="INTEGER"/>-->
        <!--<result column="name" property="name" jdbcType="VARCHAR"/>-->
        <!--<result column="price" property="price" jdbcType="FLOAT"/>-->
        <!--<result column="phone" property="phone" jdbcType="VARCHAR"/>-->
        <!--<result column="info" property="info" jdbcType="VARCHAR"/>-->
        <!--<result column="note" property="note" jdbcType="VARCHAR"/>-->
        <!--<result column="goods_type_code" property="goodsType.code" jdbcType="VARCHAR"/>-->
        <!--<result column="goods_type_name" property="goodsType.name" jdbcType="VARCHAR"/>-->
        <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>-->
        <!--<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>-->
    <!--</resultMap>-->

    <sql id="TblOrderDetail">
        t_order_detail
    </sql>


    <sql id="InsertColumnList">
        order_idx,goods_idx ,deal_price,original_price,quantity,subtotal
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT IGNORE INTO <include refid="TblOrderDetail"/>(<include refid="InsertColumnList"/>)
        VALUES( #{goodsIdx},#{orderIdx},#{dealPrice}, #{originalPrice},  #{quantity},#{subtotal} )
    </insert>

    <!--<delete id="deleteByIdx" parameterType="java.lang.Integer">-->
    <!--DELETE FROM <include refid="TblGoods"/> WHERE id= #{id}-->
    <!--</delete>-->


    <!--<update id="update">-->
    <!--UPDATE <include refid="TblGoods"/>-->
    <!--<set>-->
        <!--<if test="name != null">name = #{name},</if>-->
        <!--<if test="price != null">price = #{price},</if>-->
        <!--<if test="info != null">info = #{info},</if>-->
        <!--<if test="note != null">note = #{note},</if>-->
        <!--<if test="goodsType.id != null">type_idx = #{goodsType.id},</if>-->
    <!--</set>-->
    <!--WHERE id = #{id}-->
    <!--</update>-->

    <!--<sql id="JoinSelectColumn">-->
        <!--t_goods.id, t_goods.name,t_goods.price,t_goods.info,t_goods.note,t_goods.create_time,t_goods.update_time,-->
        <!--t_goods_type.code as goods_type_code,t_goods_type.name as goods_type_name-->
    <!--</sql>-->

    <!--<sql id="JoinWhereCondition">-->
        <!--t_goods_type.id = t_goods.type_idx-->
    <!--</sql>-->

    <!--<sql id="JoinTableList">-->
        <!--t_goods,t_goods_type-->
    <!--</sql>-->

    <!--<select id="findByName" resultMap="DetailResultMap">-->
        <!--SELECT <include refid="JoinSelectColumn"/>-->
        <!--FROM <include refid="JoinTableList"/>-->
        <!--WHERE-->
        <!--(<include refid="JoinWhereCondition"/>)-->
        <!--and t_goods.name =  #{name}-->
    <!--</select>-->


    <!--<select id="getList" resultMap="DetailResultMap">-->
    <!--SELECT <include refid="JoinSelectColumn"/>-->
    <!--FROM <include refid="JoinTableList"/>-->
    <!--WHERE-->
    <!--(<include refid="JoinWhereCondition"/>)-->
    <!--<if test="orderBy != ''">-->
    <!--ORDER BY   ${orderBy}-->
    <!--</if>-->
    <!--limit #{limit} offset #{offset};-->
    <!--</select>-->




</mapper>