<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.OrderDao">

    <resultMap id="DetailResultMap" type="com.donno.nj.domain.Order">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR"/>
        <result column="call_in_phone" property="callInPhone" jdbcType="VARCHAR"/>
        <result column="amount" property="orderAmount" jdbcType="FLOAT"/>
        <result column="pay_type" property="payType"  typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>
        <result column="access_type" property="accessType" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>

        <result column="status" property="orderStatus" jdbcType="INTEGER"/>
        <result column="urgent" property="urgent" jdbcType="BOOLEAN"/>
        <result column="addr_province" property="recvAddr.province" jdbcType="VARCHAR"/>
        <result column="addr_city" property="recvAddr.city" jdbcType="VARCHAR"/>
        <result column="addr_county" property="recvAddr.county" jdbcType="VARCHAR"/>
        <result column="addr_detail" property="recvAddr.detail" jdbcType="VARCHAR"/>
        <result column="longitude" property="recvLongitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="recvLatitude" jdbcType="DOUBLE"/>
        <result column="recv_name" property="recvName" jdbcType="VARCHAR"/>
        <result column="recv_phone" property="recvPhone" jdbcType="VARCHAR"/>
        <result column="reserve_time" property="reserveTime" jdbcType="DATE"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

        <association property="customer" column="customer_idx" select="com.donno.nj.dao.CustomerDao.selectById">
        </association>


        <collection property="orderDetailList" column="id" ofType="com.donno.nj.domain.OrderDetail" select="com.donno.nj.dao.OrderDetailDao.findByOrderIdx">
        </collection>

    </resultMap>

    <sql id="TblOrder">
        t_order
    </sql>


    <sql id="InsertColumnList">
        order_sn,call_in_phone,customer_idx ,amount,pay_type,access_type,status,urgent,reserve_time,
        addr_province,addr_city,addr_county,addr_detail, longitude,latitude,recv_name,recv_phone,comment,note
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO <include refid="TblOrder"/>(<include refid="InsertColumnList"/>)
        VALUES( #{orderSn},#{callInPhone},#{customer.id},#{orderAmount}, #{payType.index},  #{accessType.index},#{orderStatus} ,#{urgent} , #{reserveTime} ,
        #{recvAddr.province}, #{recvAddr.city},#{recvAddr.county},#{recvAddr.detail},#{recvLongitude},#{recvLatitude},
        #{recvName}, #{recvPhone},#{comment},#{note} )
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM <include refid="TblOrder"/> WHERE id= #{id}
    </delete>

    <select id="findBySn" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblOrder"/>
        WHERE
        order_sn =  #{orderSn}
    </select>

    <select id="getList" resultMap="DetailResultMap">
        SELECT *
        FROM <include refid="TblOrder"/>
    WHERE
        id > 0

        <if test="orderSn != null">
        AND  order_sn = #{orderSn}
        </if>

        <if test="callInPhone != null">
            AND  call_in_phone = #{callInPhone}
        </if>

        <if test="userId != null">
            AND  customer_idx = (select id from t_user where user_id = #{userId})
        </if>

        <if test="orderStatus != null">
            AND  status = #{orderStatus}
        </if>

        <if test="recv_name != null">
            AND  recv_name = #{recvName}
        </if>

        <if test="recvPhone != null">
            AND  recv_phone = #{recvPhone}
        </if>

        <if test="addrProvince != null">
            AND  addr_province = #{addrProvince}
        </if>

        <if test="addrCity != null">
            AND  addr_city = #{addrCity}
        </if>

        <if test="addrCounty != null">
            AND  addr_county = #{addrCounty}
        </if>

        <if test="addrDetail != null">
            AND  addr_detail like CONCAT(CONCAT('%', #{addrDetail}), '%')
        </if>

        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>

    <select id="count" resultType="Integer">
        SELECT count(*)
        FROM <include refid="TblOrder"/>
        WHERE
        id > 0

        <if test="orderSn != null">
            AND  order_sn = #{orderSn}
        </if>

        <if test="callInPhone != null">
            AND  call_in_phone = #{callInPhone}
        </if>

        <if test="userId != null">
            AND  customer_idx = (select id from t_user where user_id = #{userId})
        </if>

        <if test="orderStatus != null">
            AND  status = #{orderStatus}
        </if>

        <if test="recv_name != null">
            AND  recv_name = #{recvName}
        </if>

        <if test="recvPhone != null">
            AND  recv_phone = #{recvPhone}
        </if>

        <if test="addrProvince != null">
            AND  addr_province = #{addrProvince}
        </if>

        <if test="addrCity != null">
            AND  addr_city = #{addrCity}
        </if>

        <if test="addrCounty != null">
            AND  addr_county = #{addrCounty}
        </if>

        <if test="addrDetail != null">
            AND  addr_detail like CONCAT(CONCAT('%', #{addrDetail}), '%')
        </if>

    </select>

    <update id="update">
    UPDATE <include refid="TblOrder"/>
    <set>
        <if test="orderStatus != null">status = #{orderStatus},</if>
        <if test="reserveTime != null">reserve_time = #{reserveTime},</if>
        <if test="recvAddr != null">
            <if test="recvAddr.province != null">
                addr_province = #{recvAddr.province},
            </if>
            <if test="recvAddr.city != null">
                addr_city = #{recvAddr.city},
            </if>
            <if test="recvAddr.county != null">
                addr_county = #{recvAddr.county},
            </if>
            <if test="recvAddr.detail != null">
                addr_detail = #{recvAddr.detail},
            </if>

            <if test="recvLongitude != null">
                longitude = #{recvLongitude},
            </if>

            <if test="recvLatitude != null">
                latitude = #{recvLatitude},
            </if>
        </if>
        <if test="recvName != null">recv_name = #{recvName},</if>
        <if test="recvPhone != null">recv_phone = #{recvPhone},</if>
        <if test="urgent != null">urgent = #{urgent}</if>
        <if test="comment != null">comment = #{comment}</if>
        <if test="note != null">note = #{note}</if>
    </set>
    WHERE id = #{id}
    </update>


</mapper>