<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.SalesRptDao">
    <resultMap id="DetailResultMap" type="com.donno.nj.domain.SalesRpt">

        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="sum" property="sum" jdbcType="INTEGER"/>

        <association property="department" column="department_code" select="com.donno.nj.dao.DepartmentDao.findByCode">
        </association>
        <association property="goods" column="goods_code" select="com.donno.nj.dao.GoodsDao.findByCode">
        </association>
    </resultMap>

    <select id="getDailyRpt" resultMap="DetailResultMap">
        select t_department.code as department_code,t_goods.code goods_code, sum(t_order_detail.subtotal) as sum ,sum(t_order_detail.quantity) as count
        from t_order_detail,t_order ,t_order_dispatcher,t_sysuser,t_department,t_customer,t_customer_type,t_goods
        where
        t_order_detail.order_idx = t_order.id
        and   t_order_detail.goods_idx = t_goods.id
        and   t_order.id = t_order_dispatcher.order_idx
        and   t_order_dispatcher.dispatcher_idx = t_sysuser.user_idx
        and   t_sysuser.department_idx = t_department.id
        and   t_order.customer_idx	= t_customer.user_idx
        and   t_customer.cst_type = t_customer_type.id
        and  t_order.pay_status = 2
        <if test="departmentCode != null">
            and (t_department.code = #{departmentCode})
        </if>
        <if test="customerTypeCode != null">
            and (t_customer_type.code = #{customerTypeCode})
        </if>
        <if test="startDate != null">
            and ( t_order.pay_time >= #{startDate})
        </if>
        <if test="endDate != null">
            and ( #{endDate} > t_order.pay_time   )
        </if>
        group by t_department.id,t_goods.id

        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>

    <select id="countDailyRpt" resultType="Integer">
        SELECT COUNT(*)
        from
        (
        select t_department.code as department_code,t_goods.code goods_code, sum(t_order_detail.subtotal) as sum ,sum(t_order_detail.quantity) as count
        from t_order_detail,t_order ,t_order_dispatcher,t_sysuser,t_department,t_customer,t_customer_type,t_goods
        where
        t_order_detail.order_idx = t_order.id
        and   t_order_detail.goods_idx = t_goods.id
        and   t_order.id = t_order_dispatcher.order_idx
        and   t_order_dispatcher.dispatcher_idx = t_sysuser.user_idx
        and   t_sysuser.department_idx = t_department.id
        and   t_order.customer_idx	= t_customer.user_idx
        and   t_customer.cst_type = t_customer_type.id
        and  t_order.pay_status = 2
        <if test="departmentCode != null">
            and (t_department.code = #{departmentCode})
        </if>
        <if test="customerTypeCode != null">
            and (t_customer_type.code = #{customerTypeCode})
        </if>
        <if test="startDate != null">
            and ( t_order.pay_time >= #{startDate}    )
        </if>
        <if test="endDate != null">
            and ( #{endDate} > t_order.pay_time   )
        </if>
        group by t_department.id,t_goods.id
        ) as b

    </select>





</mapper>