<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.GasCyrSaleContactsRptDao">
    <resultMap id="DetailResultMap" type="com.donno.nj.domain.GasCyrSaleContactsRpt">

        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="credit_payment" property="creditPayment" jdbcType="DOUBLE"/>
        <result column="credit_surplus" property="creditSurplus" jdbcType="DOUBLE"/>
        <result column="monthly_payment" property="monthlyPayment" jdbcType="DOUBLE"/>
        <result column="monthly_surplus" property="monthlySurplus" jdbcType="DOUBLE"/>

        <result column="daily_date" property="date" jdbcType="DATE"/>

        <association property="department" column="department_idx" select="com.donno.nj.dao.DepartmentDao.findById">
        </association>
        <association property="goods" column="goods_idx" select="com.donno.nj.dao.GoodsDao.findById">
        </association>
    </resultMap>

    <sql id="TableName">
        t_sales_contacts_rpt
    </sql>

    <sql id="sqlGetDailyRptCondition">
        WHERE
        id > 0
        <if test="departmentCode != null">
            and (department_idx = ( select id from t_department WHERE  code = #{departmentCode}))
        </if>

        <if test="date != null">
            and ( daily_date = DATE_FORMAT(#{date},'%Y-%m-%d')    )
        </if>
    </sql>


    <select id="findById" resultMap="DetailResultMap">
        SELECT  * from <include refid="TableName"/> WHERE id = #{id}
    </select>

    <select id="getDailyRpt" resultMap="DetailResultMap">
        SELECT * FROM <include refid="TableName"/>

        <include refid="sqlGetDailyRptCondition"/>

        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>

    <select id="countDailyRpt" resultType="Integer">
        SELECT count(id) FROM <include refid="TableName"/>
        <include refid="sqlGetDailyRptCondition"/>
    </select>

    <sql id="InsertColumnList">
        department_idx, goods_idx,credit_payment,credit_surplus,monthly_payment,monthly_surplus,daily_date
    </sql>

    <!--插入-->
    <insert id="insert">
        INSERT IGNORE INTO <include refid="TableName"/>(<include refid="InsertColumnList"/>)
        VALUES( #{department.id}, #{goods.id},#{creditPayment},#{creditSurplus},#{monthlyPayment},#{monthlySurplus},#{date})
    </insert>


    <select id="findByDaily" resultMap="DetailResultMap">
      SELECT  * FROM  <include refid="TableName"/>
        WHERE  department_idx = (select id from t_department WHERE  code = #{departmentCode})
        AND  goods_idx = (SELECT  id from t_goods where code = #{goodsCode})
        AND daily_date = DATE_FORMAT(#{date},'%Y-%m-%d')
    </select>



    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM <include refid="TableName"/> WHERE id= #{id}
    </delete>




    <update id="update">
        UPDATE <include refid="TableName"/>
        <set>
            <if test="creditPayment != null">credit_payment = #{creditPayment},</if>
            <if test="creditSurplus != null">credit_surplus = #{creditSurplus},</if>
            <if test="monthlyPayment != null">monthly_payment = #{monthlyPayment},</if>
            <if test="monthlySurplus != null">monthly_surplus = #{monthlySurplus},</if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>