<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.SysUserDao">
    <resultMap id="DetailResultMap" type="com.donno.nj.domain.SysUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="job_number" property="jobNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>

        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="office_phone" property="officePhone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="alive_status" property="aliveStatus" typeHandler="com.donno.nj.domain.EnumKeyTypeHandler"/>
        <result column="alive_update_time" property="aliveUpdateTime" jdbcType="TIMESTAMP"/>

        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

        <association property="userGroup" column="group_idx" select="com.donno.nj.dao.GroupDao.selectById">
        </association>

        <association property="department" column="department_idx" select="com.donno.nj.dao.DepartmentDao.findById">
        </association>

        <association property="userPosition" column="id" select="com.donno.nj.dao.UserPositionDao.findByUserIdx">
        </association>

    </resultMap>

    <sql id="TblSysUser">
        t_sysuser
    </sql>

    <!--添加-->

    <sql id="InsertColumnList">
        user_idx, department_idx,job_number, mobile_phone,office_phone,email
    </sql>


    <insert id="insert">
        INSERT  INTO <include refid="TblSysUser"/>(<include refid="InsertColumnList"/>)
        VALUES(#{id},#{department.id}, #{jobNumber},#{mobilePhone},#{officePhone},#{email})
    </insert>

    <!--删除-->

    <delete id="deleteByUserIdx" parameterType="Integer">
        DELETE FROM <include refid="TblSysUser"/> WHERE user_idx=#{id}
    </delete>

    <!--修改-->

    <update id="update">
        UPDATE <include refid="TblSysUser"/>
        <set>
            <if test="department != null">department_idx = #{department.id},</if>
            <if test="jobNumber != null">job_number = #{jobNumber},</if>
            <if test="mobilePhone != null">mobile_phone = #{mobilePhone},</if>
            <if test="officePhone != null">office_phone = #{officePhone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="aliveStatus != null">alive_status = #{aliveStatus.index},</if>
            <if test="aliveUpdateTime != null">alive_update_time = #{aliveUpdateTime},</if>
        </set>
        WHERE user_idx = #{id}
    </update>


    <!--查询-->

    <sql id="JoinTableList">
        t_sysuser,t_user
    </sql>

    <sql id="JoinWhereCondition">
          t_user.id = t_sysuser.user_idx
    </sql>

    <sql id="JoinSelectColumn">
        t_user.id, t_user.user_id,t_user.name,t_user.identity,t_user.group_idx,  t_user.password,t_user.note,t_user.create_time,t_user.update_time,
        t_sysuser.department_idx,t_sysuser.job_number,t_sysuser.mobile_phone,t_sysuser.office_phone,t_sysuser.email,t_sysuser.alive_status,t_sysuser.alive_update_time
        </sql>

    <select id="getList" resultMap="DetailResultMap">
        SELECT <include refid="JoinSelectColumn"/>
        FROM <include refid="JoinTableList"/>
        WHERE
        (<include refid="JoinWhereCondition"/>)

        <if test="userId != null">
            and (t_user.user_id = '${userId}')
        </if>

        <if test="userName != null">
            and (t_user.name = '${userName}')
        </if>

        <if test="identity != null">
            and (t_user.identity = '${identity}')
        </if>

        <if test="aliveStatus != null">
            and (t_user.alive_status = '${aliveStatus}')
        </if>

        <if test="jobNumber != null">
            and (t_sysuser.job_number = '${jobNumber}')
        </if>

        <if test="groupCode != null">
            AND  t_user.group_idx = ( select id from t_group where code =#{groupCode} )
        </if>

        <if test="departmentCode != null">
            AND  t_sysuser.department_idx = ( select id from t_department where code =#{departmentCode} )
        </if>

        <if test="mobilePhone != null">
            and (t_sysuser.mobile_phone = '${mobilePhone}')
        </if>

        <if test="officePhone != null">
            and (t_sysuser.office_phone = '${officePhone}')
        </if>

        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM <include refid="JoinTableList"/>
        WHERE
        (<include refid="JoinWhereCondition"/>)

        <if test="userId != null">
            and (t_user.user_id = '${userId}')
        </if>

        <if test="userName != null">
            and (t_user.name = '${userName}')
        </if>

        <if test="identity != null">
            and (t_user.identity = '${identity}')
        </if>

        <if test="jobNumber != null">
            and (t_sysuser.job_number = '${jobNumber}')
        </if>

        <if test="groupCode != null">
            AND  t_user.group_idx = ( select id from t_group where code =#{groupCode} )
        </if>

        <if test="departmentCode != null">
            AND  t_sysuser.department_idx = ( select id from t_department where code =#{departmentCode} )
        </if>

        <if test="mobilePhone != null">
            and (t_sysuser.mobile_phone = '${mobilePhone}')
        </if>

        <if test="officePhone != null">
            and (t_sysuser.office_phone = '${officePhone}')
        </if>

        <if test="aliveStatus != null">
            and (t_user.alive_status = '${aliveStatus}')
        </if>

    </select>

    <select id="findByUserId" resultMap="DetailResultMap">
        SELECT <include refid="JoinSelectColumn"/>
        FROM <include refid="JoinTableList"/>
        WHERE
        (<include refid="JoinWhereCondition"/>)
        and
        t_user.user_id = #{userId}
    </select>



    <update id="checkAlive">
        UPDATE <include refid="TblSysUser"/>
        <set>
            alive_status = 0
        </set>
        WHERE
        (select  TIMESTAMPDIFF(MINUTE,alive_update_time, now()) >
        (select alive_expire_time from t_system_param )
        )
    </update>




    <!--<update id="update">-->
        <!--UPDATE <include refid="TblSysUser"/>-->
        <!--<set>-->
            <!--<if test="userId != null">user_id = #{userId},</if>-->
            <!--<if test="jobNumber != null">job_number = #{jobNumber},</if>-->
            <!--<if test="name != null">name = #{name},</if>-->
            <!--<if test="password != null">password = #{password},</if>-->
            <!--<if test="group.id != null">group_id = #{group.id},</if>-->
            <!--<if test="mobilePhone != null">mobile_phone = #{mobilePhone},</if>-->
            <!--<if test="officePhone != null">office_phone = #{officePhone},</if>-->
            <!--<if test="email != null">email = #{email},</if>-->
            <!--<if test="note != null">note = #{note}</if>-->
        <!--</set>-->
        <!--WHERE id = #{id}-->
    <!--</update>-->


</mapper>