<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donno.nj.dao.TicketOrderDao">
    <resultMap id="BaseResultMap" type="com.donno.nj.domain.TicketOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>

        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR"/>
        <result column="spec_name" property="specName" jdbcType="VARCHAR"/>
        <result column="ticket_idx" property="ticketIdx" jdbcType="INTEGER"/>
        <result column="ticket_sn" property="ticketSn" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="use_Time" property="useTime" jdbcType="TIMESTAMP"/>
        <result column="exp_start_date" property="expStartDate" jdbcType="TIMESTAMP"/>
        <result column="exp_end_date" property="expEndDate" jdbcType="TIMESTAMP"/>

        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="TableName">
        t_ticket_order
    </sql>

    <sql id="QryFromTableName">
        t_ticket_order,t_order,t_user,t_ticket,t_gas_cylinder_spec
    </sql>

    <sql id="QueryColumnList">
        t_ticket_order.id, t_ticket_order.ticket_idx,t_ticket.ticket_sn as  ticket_sn ,t_user.user_id as user_id,t_order.order_sn as order_sn,
         t_gas_cylinder_spec.name as spec_name,
        t_ticket.price,t_ticket.use_time as use_Time ,t_ticket.exp_time_start as exp_start_date,t_ticket.exp_time_end as exp_end_date,
        t_ticket_order.note,t_ticket_order.create_time,t_ticket_order.update_time
    </sql>

    <sql id="getListCondition">
        <where>
            t_ticket_order.id > 0
            AND
            t_ticket_order.ticket_idx = t_ticket.id
            AND
            t_ticket.customer_idx = t_user.id
            AND
            t_ticket_order.order_idx = t_order.id
            AND
            t_ticket.spec_idx = t_gas_cylinder_spec.id
            <if test="userId != null">
                and t_ticket.customer_idx = (SELECT  id from t_user where user_id = #{userId})
            </if>

            <if test="orderSn != null">
                and t_ticket_order.order_idx = (SELECT  id from t_order where order_sn = #{orderSn})
            </if>

            <if test="useTimeStart != null">
                and   t_ticket.use_time  >=  DATE_FORMAT(#{useTimeStart},'%Y-%m-%d')
            </if>

            <if test="useTimeEnd != null">
                and   DATE_FORMAT(#{useTimeEnd},'%Y-%m-%d') >=  t_ticket.use_time
            </if>

        </where>
    </sql>

    <sql id="InsertColumnList">
       ticket_idx, order_idx, note
    </sql>


    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="QryFromTableName"/>
        <where>
            t_ticket_order.id > 0
            AND
            t_ticket.customer_idx = t_user.id
            AND
            t_ticket_order.order_idx = t_order.id
            AND
            t_ticket_order.ticket_idx = t_ticket.id
            AND
            t_ticket.spec_idx = t_gas_cylinder_spec.id
            AND
            t_ticket_order.id = #{id}
        </where>

    </select>


    <select id="findByTicketIdx" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="QryFromTableName"/>
        <where>
            t_ticket_order.id > 0
            AND
            t_ticket.customer_idx = t_user.id
            AND
            t_ticket_order.order_idx = t_order.id
            AND
            t_ticket_order.ticket_idx = t_ticket.id
            AND
            t_ticket.spec_idx = t_gas_cylinder_spec.id
            AND
            t_ticket_order.ticket_idx = #{ticketIdx}
        </where>

    </select>



    <select id="getList" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumnList"/>
        FROM <include refid="QryFromTableName"/>
        <include refid="getListCondition"/>


        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>

    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM  <include refid="QryFromTableName"/>
        <include refid="getListCondition"/>
    </select>

    <insert id="insert">
        INSERT IGNORE INTO <include refid="TableName"/>(<include refid="InsertColumnList"/>)
        VALUES(  #{ticketIdx} ,
        (select id from t_order where order_sn = #{orderSn} ),
          #{note})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM <include refid="TableName"/>
        WHERE
        id = #{id}
    </delete>

    <!--<update id="update">-->
        <!--UPDATE <include refid="TableName"/>-->
        <!--<set>-->
            <!--<if test="ticket != null">ticket_idx = #{ticket.id},</if>-->
            <!--<if test="userId != null">customer_idx = (SELECT  id from t_user where user_id = #{userId}),</if>-->
            <!--<if test="orderSn != null">order_idx = (SELECT  id from t_order where orderSn = #{orderSn}),</if>-->
            <!--<if test="note != null">note = #{note}</if>-->
        <!--</set>-->
        <!--WHERE id = #{id}-->
    <!--</update>-->
</mapper>