<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--用户卡绑定关系-->

<mapper namespace="com.donno.nj.dao.CardUserRelDao">

    <resultMap id="DetailResultMap" type="com.donno.nj.domain.UserCardBindRelation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <association property="userCard" column="card_idx" select="com.donno.nj.dao.UserCardDao.findById">
        </association>
        <association property="customer" column="user_idx" select="com.donno.nj.dao.CustomerDao.findById">
        </association>
    </resultMap>

    <sql id="TblUserCardRel">
        t_user_card_bind_rel
    </sql>


    <!--绑定用户卡与客户-->
    <insert id="bind">
        INSERT  INTO t_user_card_bind_rel(user_idx,card_idx,note)
        VALUES( #{customerIdx},#{cardIdx}, '')
    </insert>

    <!--解绑定用户卡与客户-->
    <delete id="unBind">
        DELETE  from t_user_card_bind_rel
        WHERE  card_idx = #{cardIdx} and   user_idx = #{customerIdx}
    </delete>

    <delete id="deleteByIdx" parameterType="java.lang.Integer">
    DELETE FROM t_user_card_bind_rel WHERE id= #{id}
    </delete>


    <sql id="getListCondition">
        WHERE
        <if test="userId != null">
            AND user_idx in (SELECT  id from t_user WHERE  user_id=#{userId})
        </if>
        <if test="number != null">
            AND card_idx = (SELECT  id from t_user_card WHERE  number=#{number})
        </if>
    </sql>

    <select id="getList" resultMap="DetailResultMap">
        SELECT *
        FROM t_user_card_bind_rel
        <include refid="getListCondition"/>

        <if test="orderBy != null">
            <if test="orderBy != ''">
                ORDER BY   ${orderBy}
            </if>
        </if>

        <if test="limit != null" >
            <if test="offset != null" >
                limit #{limit} offset #{offset};
            </if>
        </if>
    </select>


    <select id="count" resultType="Integer">
        SELECT count(*)
        FROM t_user_card_bind_rel
        <include refid="getListCondition"/>
    </select>

    <delete id="delete" parameterType="Integer">
    DELETE FROM t_user_card_bind_rel
    WHERE
    id = #{id}
</delete>

    <!--根据用户卡编号查找绑定关系-->
    <select id="findRelationByNumber" resultMap="DetailResultMap">
        SELECT  *
        FROM t_user_card_bind_rel
        where
        (
        card_idx = (SELECT  id from t_user_card WHERE  number = #{number})
        )
    </select>


   <!--查找客户名下的托盘-->
    <select id="findGasCynTrayByUserId" resultMap="com.donno.nj.dao.CardUserRelDao.DetailResultMap">
        SELECT t_user_card.*
        FROM t_user_card,t_user_card_bind_rel,t_user
        where
        (
            t_user_card_bind_rel.card_idx = t_user_card.id
            AND
            t_user_card_bind_rel.user_idx = t_user.id
            AND t_user.user_id = #{userId}
        )
    </select>

    <!--查找用户卡所属用户-->
    <select id="findUserByNumber" resultMap="com.donno.nj.dao.UserDao.BaseResultMap">
        SELECT t_user.*
        FROM t_user_card,t_user_card_bind_rel,t_user
        where
        (
        t_user_card_bind_rel.card_idx = t_user_card.id
        AND
        t_user_card_bind_rel.user_idx = t_user.id
        AND t_user_card.number = #{number}
        )
    </select>




</mapper>