.alert {
  margin-bottom: 20px;
  margin-top: 0;
  padding: 5px 15px 5px 34px;
  color: #675100;
  border-width: 0;
  border-left-width: 5px;
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.alert .close {
  top: 0;
  right: -5px;
  line-height: 20px;
}
.alert-heading {
  font-weight: 600;
}
.alert-danger {
  border-color: #953b39;
  color: #ffffff;
  background: #c26565;
  text-shadow: none;
}
.alert-warning {
  border-color: #dfb56c;
  color: #826430;
  background: #efe1b3;
}
.alert-success {
  border-color: #8ac38b;
  color: #356635;
  background: #cde0c4;
}
.alert-info {
  border-color: #9cb4c5;
  color: #305d8c;
  background: #d6dde7;
}