.navbar-brand {
  height: 45px;
  padding: 15px 10px 0px 10px;

  img {
    display: inline-block;
    margin-right: 3px;
    height: 100%;
    border: 0;
  }

  span {
    margin-left: 0px;
    color: $white;
    font-size: medium;
  }
}

.navbar-default {
  background-color: $udc-special-blue;
  border-color: $udc-special-blue;
  font-size: large;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #555;
  background-color: $udc-special-blue;
}

.navbar-default .navbar-nav > li {
  & > a {
    color: $white;
  }

  &:hover {
    background-color: $udc-special-blue;
    border-bottom: 5px solid $white;
  }

  &.active {
    a {
      color: $white;
      background-color: $udc-special-blue;
      &:hover {
        color: $white;
        background-color: $udc-special-blue;
      }
    }
    margin: 0 2px;
    background-color: $udc-special-blue;
    border-bottom: 5px solid $white;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: $white;
  background-color: $udc-special-blue;
}

.breadcrumb {
  background-color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navbar-clock
{
  height: 50px;
  padding: 17px 0px 5px 0px;

  span {
    margin-left: 0px;
    color: $white;
    font-size: medium;
    text-align: center
  }
  a {
    margin-left: 0px;
    color: $white;
    font-size: medium;
    text-align: center
  }
}

.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}
.navbar-nav>.user-menu>.dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  width: 280px;
  position: absolute;
  right: 5%;
  left: auto;
  border: 1px solid #ddd;
  background: #fff;
}
li.user-header {
  background-color: #3c8dbc;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  z-index: 5;
  color: #fff;
  color: rgba(255,255,255,0.8);
  font-size: 17px;
  margin-top: 10px;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
