@import "base";
@import "menu";
@import "header";
@import "ribbon";
@import "table";
@import "form";
@import "button";
@import "alert";
@import "tab";
@import "modal";
@import "scrollBar";


$body-bg: #f3f3f4;

//主页面的DIV向左移动100px

.div-offset-left{

}

body {
  background-color: $body-bg;
  padding-top: 55px;
  font-size: smaller;
}

html, body {
  height: 100%;
  header {
    height: 20%;
  }
  .main {
    width: 100%;
    margin-top: 20px;
    height: 95%;
    .row {
      height: 100%;
      & > div {
        height: 100%;
      }
    }
  }
}

.content {
  margin-left: 0px;
  background-color: $body-bg;
  min-height: 98%;
}

.spinner {
  text-align: center;
}


.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px;
}

.alert[data-notify="container"] {
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
}
.alert.alert-with-icon {
  padding-left: 65px;
}

.alert-info {
  background-color: #63d8f1;
}

.alert-success {
  background-color: #a1e82c;
}

.alert-warning {
  background-color: #ffbc67;
}


.div-bordered{border:2px solid #337ab7;}



